.menu{
    font-size: 19px;
    background-color: steelblue;
    display: inline-block;
    line-height: 4;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left:  30px;
    padding-right:  30px;
    border: 4px groove darkgrey;
    margin: 100px 40px;
}

.titulo{
    text-align:center;
    text-decoration: underline;
}

.h4{
    font-size: 20px;
    text-align: center;
}
.redes{
    font-size: 19px;
    text-align: center;
    line-height: 4;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left:  30px;
    padding-right:  30px;
}

.lista{
    font-size: 19px;
    background-color: steelblue;
    display: inline-block;
    line-height: 4;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left:  30px;
    padding-right:  30px;
    border: 4px groove darkgrey;
    margin: 100px 40px;
}
.imagen{
    float: right;
    display: inline-block;
    line-height: 4;
    padding: 5px 5px 5px 5px;
    box-sizing: content-box;
    border: 4px groove darkgrey;
    border-width: 7px;
    border-radius: 10px;
    margin: 15px 100px;
}
#redes2{
    padding: 5px 5px 5px 5px;
}
.texto{
    font-size: 19px;
    text-align: left;
    line-height: 3;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left:  30px;
    padding-right:  30px;
    border-width: 10px;
    border-radius: 10px;
    margin-left:100px;
}

#subtitulo{
    text-align:center;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
    margin-left: 100px;
}



